#about
{
  width: 100%;
}

#aboutbox
{
  width: 100%;
  background-color: #b03b2f;
  height: auto;
}

#pho
{
  width: 100%;
  margin: 0;
  height: 250px;
  background-image: url("img/z3.jpg");
  background-size: cover;
  z-index:2;
}

#abouttxt
{
  vertical-align: middle;
  width: 90%;
  height: auto;
  color: #fff;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 5%;
  padding-left: 5%;
}
  
#abouttxt p
{
  text-align: justify;
  font-size: 14px;
}

@media only screen and (min-width: 450px)
{
  #about
  {
    width: 100%;
    background-color: #b03b2f;
  }

  #aboutbox
  {
    width: 100%;
    height: auto;
  }

  #pho
  {
    width: 100%;
    margin: 0;
    height: 300px;
    background-image: url("img/z3.jpg");
    background-size: cover;
    z-index:2;
  }

  #abouttxt
  {
    vertical-align: middle;
    width: 90%;
    height: auto;
    color: #fff;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
    padding-left: 5%;;
  }
  
  #abouttxt p
  {
    text-align: justify;
    font-size: 14px;
  }
}

@media only screen and (min-width: 750px)
{
  #about
  {
    height: 350px;
    width: 100%;
  }

  #aboutbox
  {
    width: 100%;
    background-color: #b03b2f;
    height: 100%;
    margin:0;
  }

  #pho
  {
    width: 35%;
    height: 100%;
    float: left;
    background-image: url("img/z3.jpg");
    background-size: cover;
    z-index:2;
  }

  #abouttxt
  {
    width: 55%;
    height: auto;
    float: right;
    color: #fff;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
    padding-left: 5%;
  }

  #abouttxt p
  {
    text-align: justify;
    font-size: 14px;
  }
}
