@font-face 
{
    font-family: Light;
    src: url(OpenSans-Light.ttf);
}

body
{  
  font-family: Light;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.wrapper
{
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.content
{
  clear: both;
  margin: 0 !important;
}

.sticky
{
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
  right: 0;
  left: 0;
  margin:0;
  padding:0;
	z-index: 100;
  background-color: #161616 !important;
  box-shadow: 2px 2px 15px #111111;
  transition: 1s;
}
